<div class="row">
    <div class="vcard">
        <p class="name"><%- model.name %></p>
        <p class="fn"><a class="url" href="<%- model.url %>" target="_blank"><%- model.url %></a><p>
        <p class="adr">
            <span class="region"><%- model.city%></span><br>
            <span class="country-name"><%- model.country %></span>
        </p>
        <p class="email"><a href="mailto:<%- model.email %>" target="_blank"><%- model.email %></a></p>
        <p class="tel"><%- model.phone %></p>
    </div>
</div>