
<!DOCTYPE html>
<html>
  <head>
    <title>OnePageBlog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="/static/css/jumbotron-narrow.css" rel="stylesheet">

    <script data-main="/static/js/main" src="/static/js/libs/require.js"></script>


  </head>
  <body>
      <div class="container">
          <div class="header">
            <ul class="nav nav-pills pull-right">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
            <h3 class="text-muted">OnePageBlog</h3>
          </div>

          <div class="jumbotron" style="display: none;">
            <h1>Jumbotron heading</h1>
            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-lg btn-success" href="#">Sign up today</a></p>
          </div>


                  <div id="content">
                  </div>



          <div class="footer">
            <p>&copy; OnePageBlog 2013</p>
          </div>

        </div> <!-- /container -->


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
